.actInput {
  position: relative;
  width: 100%;
  height: 2.2rem;
  z-index: 3;
}

.actInput-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  font-size: 1.1rem;
  align-items: center;
  border: none;
  border-radius: 1rem;
  letter-spacing: 1rem;
  text-indent: 1rem;
  box-shadow: 2px 4px 10px 0 #a5a5a5;
}

.actInput-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.1rem;
  align-items: center;
  margin-top: 0.3rem;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1.8px solid #ff7a59;
  .icons {
    cursor: pointer;
  }
}
