.postCard-item {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 4fr 1.5fr 2fr;
  padding: 0.5rem;
  margin: 1.5rem 0;
  width: 30rem;
  height: 12rem;
  background-color: #fcfcfc;
  box-shadow: 2px 4px 10px 0 #a5a5a5;
}
.postCard-item:active {
  position: relative;
  top: 0.2rem;
  background-color: #f5f2f1;
  .postCard-item:focus .postCard-item:hover {
    border-color: #f5f2f1;
  }
}

.postCard-item__main {
  width: 8rem;
}

.postCard-item__left {
  width: 240px;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding-left: 1rem;
  .postCard-item__leftListC {
    padding-top: 5px;
    font-size: 16px;
  }
  .postCard-item__leftListT {
    width: 95%;
    height: 75px;
    font-size: 25px;
    font-weight: bold;
    padding-left: 0.5rem;
    word-break: break-all;
  }

  .postCard-item__leftListL {
    padding: 0.5rem;
    font-size: 16px;
  }

  .postCard-item__leftListD {
    font-size: 30px;
    font-weight: bold;
  }
}

.postCard-item__center {
  border-right: 2px solid #e7e2e2;
  padding-right: 5px;
  text-align: center;
  word-break: keep-all;
}

.postCard-item__right {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  text-align: center;
  .postCard-item__listN {
    padding-top: 0.5rem;
    font-size: 30px;
    font-weight: bold;
  }
  .postCard-item__listState {
    padding-top: 0.5rem;
    font-size: 18px;
  }
}

.postCard-item__Tag {
  padding: 5px;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .postCard-item__payTag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 15px;
    color: #ffffff;
    background-color: #ff4234;
    border-radius: 1rem;
  }

  .postCard-item__deliveryTag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 15px;
    color: #ffffff;
    background-color: #ff4234;
    border-radius: 1rem;
  }
}

.displayNone {
  display: none;
}
