.postCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff8ef;
  width: 100vw;
}

.postCardWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}

.postCards {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 3rem;
  justify-content: center;
}
