.postCard {
  width: 100vw;
  background-color: #fff8ef;
}

.postCardWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.postCard-header {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2.5rem;
}

.postCard-lists {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.lists-empty {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2.2rem;
  margin: 5rem 0;
}
