.postCard-item {
  border: 2px solid black;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 4fr 1.5fr 2fr;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 30rem;
  height: 12rem;
  background-color: #fcfcfc;
}

.postCard-item__main {
  width: 8rem;
}

.postCard-item__left {
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr 1.5fr;
  text-align: left;
  padding-left: 1rem;
  .postCard-item__leftListC {
    padding-top: 5px;
    font-size: 16px;
  }
}
.postCard-item__leftListT {
  font-size: 25px;
  font-weight: bold;
  padding-left: 0.5rem;
}

.postCard-item__leftListL {
  padding: 0.5rem;
  font-size: 16px;
}

.postCard-item__leftListD {
  font-size: 30px;
  font-weight: bold;
}

.postCard-item__center {
  border-right: 2px solid #e7e2e2;
  padding-right: 5px;
}

// .postCard-item__left {
//   display: grid;
//   grid-template-rows: 1fr 1fr 1.5fr 1.5fr;
//   text-align: left;
//   padding-left: 1rem;
//   .postCard-item__leftListC {
//     padding-top: 5px;
//     font-size: 16px;
//   }
// }

.postCard-item__right {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  text-align: center;
  // align-items: center;
  .postCard-item__listN {
    padding-top: 0.5rem;
    font-size: 30px;
    font-weight: bold;
  }
  .postCard-item__listState {
    padding-top: 0.5rem;
    font-size: 18px;
  }
}

.postCard-item__Tag {
  padding: 5px;
  letter-spacing: 2px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .postCard-item__payTag {
    margin: 2px;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ff4234;
    background-color: #ff4234;
    border-radius: 1rem;
  }

  .postCard-item__deliveryTag {
    margin: 2px;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ff4234;
    background-color: #ff4234;
    border-radius: 1rem;
  }
}
