.new-postCard {
  background-color: #ffffff;
  margin: auto, 1rem;
  width: 50rem;
  text-align: center;
}

.new-postCard button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid #ff4234;
  background-color: #ff4234;
  color: white;
  border-radius: 12px;
}

.new-postCard button:hover,
.new-postCard button:active {
  background-color: #ff7a59;
  border-color: #ff7a59;
}

.new-postCard button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-postCard button.alternative:hover,
.new-postCard button.alternative:active {
  background-color: #fce0e0;
}
