.NewPostCard {
  padding: 5rem 12rem;
}

.btn-modal {
  float: right;
  font-size: 24px;
  width: 9rem;
  height: 3rem;
  background-color: #ff4234;
  border-color: #ff4234;
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: 5px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  &:hover {
    box-shadow: 5px 5px 5px;
  }
}
.btn-modal:active {
  position: relative;
  top: 0.2rem;
  background-color: #ff7a59;
  .btn-modal:focus {
    border-color: #ff7a59;
  }
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}

.overlay {
  background: rgba(138, 135, 135, 0.76);
}
.modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 1fr;
  justify-content: center;
  align-content: center;
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  border-radius: 3rem;
  box-shadow: 2px 2px 10px 2px #ff7a59;
}
