footer {
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #5C5B5B;

  .footer-container {
    padding: 1.5rem;
    display: flex;
    width: 100%;

    @media screen and (max-width: 1200px){
      flex-direction: column;
    }
    .first-box {
      flex: 2;
      margin-left: 5rem;
      display: flex;
      flex-direction: column;
      // align-items: center;
      @media screen and (max-width: 1200px){
        order: 1;
        margin: auto;
      }

      
      .logo-box {
        @media screen and (max-width: 700px){
          display: flex;
          flex-direction: column;
          justify-content: center;
          }
        .footer-logo {
          width: 155.89px;
          height: 156px;
          margin: 0 3rem 1rem 1.5rem;
          @media screen and (max-width: 700px){
            margin: auto auto 1rem 3rem;
            }
        }
        .footer-logotext {
          letter-spacing: 3px;
          font-size: 9px;
          font-family: "Roboto";
          margin-left: 4.5rem;
          @media screen and (max-width: 700px){
            margin: auto;
            }
        }
      }
      .copyright {
        width: 280px;
        margin-top: 1rem;
        font-family: "Roboto";
        @media screen and (max-width: 700px){
          text-align: center;
          }
      }  
    }
  }


  .footer-right-container {
    display: flex;
    margin: 2.5rem 3rem 0 0;

    @media screen and (max-width: 1200px){
    margin: 2rem 0 0 0;
    }

    @media screen and (max-width: 700px){
      gap: 2rem;
      flex-direction: column;
    }

    .second-box {
      margin-right: 10rem;

      @media screen and (max-width: 1200px){
        margin: 0 auto 0 auto;
      }

      @media screen and (max-width: 700px){
        margin: 0;
      }
 
    }
    
    .third-box {
      width: 7rem;
      margin-right: 8rem;
      @media screen and (max-width: 1200px){
        margin: 0 2rem 0 auto;
      }
      @media screen and (max-width: 700px){
        margin: 0;
      }
      }
    }
    .fourth-box {
      margin-right: 4rem;
      @media screen and (max-width: 1200px){
        margin: auto;
      }
      @media screen and (max-width: 700px){
        margin: 0;
      }
    }
    
  }
    

// Project, Team Members, Contact 
// 타이틀 스타일
.box-title {
  font-weight: bold;
  margin-bottom: 10px;


}

// 링크 텍스트 스타일
.box-text {
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #5C5B5B;

  &:hover {
    color: #e7e7e7;
    color: #EE4E34;
  }
}

.icon {
  margin-right: 10px;
}

.mobile-line {
  display: none;
  @media screen and (max-width: 700px){
    display: flex;
    margin-top: 3rem;
    width: 100%;
    order: 1;
  }
}
