footer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #5C5B5B;
  // background-color: blue;

  .first-box {
    flex: 2;
    margin: 20px 0 0 110px;
    display: flex;
    flex-direction: column;
    .logo-box {
      padding-top: 30px;
      .logo {
        width: 155.89px;
        height: 156px;
        padding-left: 25px;
      }
      
      .footer-logotext {
        padding: 2px 0 0 75px;
        letter-spacing: 3px;
        font-size: 9px;
        font-family: "Roboto";
      }
    }
    .copyright {
      width: 280px;
      margin-top: 15px;
      font-family: "Roboto";
    }


    
  }


    .second-box {
      display: flex;
      flex-direction: column;
      margin: 75px 115px 75px 75px;
      // Project 글자 위치만 따로 재설정
      .project {
        margin-left: 3px;
      }      
    }
    
    .third-box {
      display: flex;
      flex-direction: column;
      margin: 75px 75px 0px 75px;
      }


    }
    
    .fourth-box {
      display: flex;
      flex-direction: column;
      margin: 75px 155px 75px 75px;
    }
    
    

// Project, Team Members, Contact 
// 타이틀 스타일
.box-title {
  font-weight: bold;
  margin-bottom: 10px;


}

// 링크 텍스트 스타일
.box-text {
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #5C5B5B;

  &:hover {
    color: #EE4E34;
  }
}

.icon {
  margin-right: 10px;
}

