// 반응형 breakpoint 
// $small:320px;
// $medium: 768px;
// $large:1200px;

@mixin intro_style {
  width: 100%;
  height: 600px;
  background-color: #FFF8F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wrapper_style {
  display: flex;
  align-items: center;

}

@mixin start_box_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

}

@mixin start_btn_style {
  font-size: 24px;
  color: white;
  background-color: #EE4E34;
  padding: 16px 38px;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: 2px 4px 10px 0 #A5A5A5;

  &:hover {
    transition: background-color .6s;
    color: #EE4E34;
    padding: 16px 38px;
    background-color: #FFFCF8;
    border-radius: 2rem;
  }
}

@mixin font_style {
  font-size: 48px;
  font-weight: 500;
  word-break: keep-all; 
  text-align: center;
  width: 335px;
}

@mixin img_box_style {
  display: flex;
}



.intro-1 {
  @include intro_style;
  // Tablet

  @media screen and (max-width: 768px) {

  }
  .wrapper {
    @include wrapper_style;
    
    .wrapper-ani {
      width: 100%;

    .card-img {
      width: 535px;
      height: 222px;
      margin-right: 110px;
    }
      
    }
    
    .start-box-top {
      @include start_box_style;

      .intro-text-1 {
        @include font_style;
        padding-bottom: 20px;
      }
      
      .start-btn-top {
        @include start_btn_style;
      }
    }
  }
}



.intro-2 {
    @include intro_style;
    background-color: #FFFCF8;

    .wrapper {
      @include wrapper_style;

    .intro-text-2 {
      @include font_style;
      margin-right: 110px;
      width: 465px;
      height: 175px;
      text-align: center;
    }

    .search-bar {
      width: 430px;
      height: 60px;
      background-color: #EE4E34;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-text {
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding-left: 35px;
      }
      .search-icon {
        color: white;
        padding-right: 20px;
      }
    }
  }
}

.intro-3 {
  @include intro_style;

  .wrapper {
    @include wrapper_style;

    .intro-3-map-box {
      position: relative;
      width: 597px;
      height: 299px;
      margin-right: 70px;
      border-radius: 20px;

      .intro-3-map {
        width: 100%;
        height: 100%;
      }
      .intro-3-pin-box {
        position: absolute;
        inset: 0px; // 박스 겹치기
        width: 100%;
        height: 100%;
        .pin-one {
          position: absolute;
          width: 12%;
          top: -10%;
          left: calc(70% + 0.25rem);
        }
        .pin-two {
          position: absolute;
          width: 12%;
          top: calc(30% - 0.5rem);
          left: calc(35% + 0.25rem);
        }
        .pin-three {
          position: absolute;
          width: 12%;
          top: calc(65% - 0.5rem);
          left: calc(80% + 0.25rem);
        }
      }
    }

    .intro-text-3 {
      @include font_style;
      width: 430px;
    }
  }
}

.intro-4 {
  @include intro_style;
  background-color: #FFFCF8;

  .wrapper {
    @include wrapper_style;

    .intro-text-4 {
      @include font_style;
      width: 565px;
      margin-right: 95px;
    }

    .img-wrapper {
      display: flex;
      flex-direction: column;
      width: 528.85px;
      height: 446px;
      
      .img-box-l {
        @include img_box_style;
        margin-bottom: 55px;
      }

      .img-box-r {
        @include img_box_style;
        margin-bottom: 45px;
        justify-content: flex-end;

        .img-1 {
          width: 453px;
          height: 105px;
        }
        .img-2 { 
          width: 250px;
          height: 108px;
        }
      }
        .img-3 {
          width: 349px;
          height: 113px;
        }
      }
    }
  }


.intro-5 {
  @include intro_style;
  .wrapper {
    @include wrapper_style;
    flex-direction: column;
    .intro-text-5 {
      @include font_style;
      width: 480px;
      margin-bottom: 40px;
    }
    .start-box-bottom {
      @include start_box_style;

      .start-btn-bottom {
        @include start_btn_style;
      }
    }
  }
}