.postInfoWrap {
  width: 100%;
  height: 100%;
}

.postInfo__Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  width: 100%;
  height: 5rem;

  .imgLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .postLogo {
      width: 100%;
      height: 70%;
      display: block;
      margin: 3rem 19.5rem 2rem 18rem;
    }
  }

  .postCard-close {
    margin: 0.8rem 4rem 0 0;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    float: right;
    font-size: 2.2rem;
    color: #b0acac;
    :active {
      position: relative;
      top: 0.2rem;
    }
  }
}

.postInfo__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 2.5rem;
  margin: 0 1.8rem 0.5rem;
  border-bottom: 5px solid #ff7a59;

  .postInfo__title {
    width: 95%;
    text-align: left;
    .postInfo__InputTitle {
      margin-left: 0.5rem;
      font-weight: bold;
      border: none;
      font-size: 1.3rem;
    }
  }
}
.postInfo__work {
  width: 10rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0.5rem;
  cursor: pointer;

  .modify-box {
    width: 5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

    .modify-btn,
    .del-btn {
      width: 100%;
      height: 2rem;
      background-color: #eeecec;
      border: 1px solid #cbcbcb;
      border-radius: 0.5rem;
      font-size: 1rem;
      letter-spacing: 0.5rem;
      text-indent: 0.5rem;
      z-index: 10;
      cursor: pointer;
      &:hover {
        color: #fffefe;
        background-color: #ff4234;
      }
    }
  }
}

.postInfo__Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  width: 100%;
  height: 3.7rem;
}

.postInfo__actions {
  margin-top: 0.4rem;
  width: 25%;
  height: 70%;
  font-size: 1.3rem;
  border: 1px solid #ff4234;
  border-radius: 1rem;
  background-color: transparent;
  color: #ff4234;
  letter-spacing: 0.5rem;
  text-indent: 0.55rem;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ff4234;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
  }

  &:hover::before {
    transform: translateY(-100%);
  }

  &:hover {
    color: #ffffff;
  }
}

.postInfo__Body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 0;
  width: 100%;
  height: 26rem;
}

.postInfo__Left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 26rem;

  //Description
  .postInfo__description {
    display: flex;
    width: 100%;
    text-align: left;
    .postInfo__inputDescription {
      width: 100%;
      height: 6.3rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      line-height: 2rem;
      text-align: left;
      font-size: 1.1rem;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: 2px 4px 10px 0 #a5a5a5;
    }
  }

  .postInfo__list {
    width: 100%;
    height: 2.4rem;
    .postInfo__inputListD {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      font-size: 1.1rem;
      box-shadow: 2px 4px 10px 0 #a5a5a5;
    }
    .postInfo__inputList {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      font-size: 1.1rem;
      letter-spacing: 0.5rem;
      text-indent: 0.5rem;
      box-shadow: 2px 4px 10px 0 #a5a5a5;
    }

    .postInfo__inputListT {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 1rem;
      font-size: 1.1rem;
      letter-spacing: 1rem;
      text-indent: 1rem;
      box-shadow: 2px 4px 10px 0 #a5a5a5;
    }
  }
}

.postInfo__right {
  width: 45%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .postInfo__postMap {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    .postInfo__InputPostMap {
      justify-content: center;
      width: 100%;
      height: 2.2rem;
      padding-top: 0.8rem;
      border-radius: 1rem;
      font-size: 1rem;
      color: #a5a5a5;
      text-indent: 1.5rem;
      text-align: left;
      box-shadow: 2px 4px 10px 0 #a5a5a5;
    }
  }
}
.postInfo__titleMap {
  width: 100%;
  height: 2.5rem;
  margin: 1rem;
  text-align: left;
  text-indent: 0.5rem;
}

.postInfo__map {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px 0 #a5a5a5;
}
