.postCard-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 800px;
  background-color: #fcfcfc;
}

.postCard-item__list {
  justify-content: space-between;
  font-size: 1rem;
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 12px;
}

.postCard-item__price {
  font-size: 1rem;
  width: 400px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 12px;
}

.postCard-item__people {
  font-size: 1rem;
  width: 200px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 12px;
}
